.vYears {
  font-size: 1.3em;
  color: #2FA4E7;
}
.vMonths {
  font-size: 1.3em;
  color: #73A839;
}
.vDays {
  font-size: 1.3em;
  color: #DD5600;
}
.vBracket {
  font-size: 1.5em;
}

.version {
  font-size: 2.0em;
  font-style: italic;
}

.this-share-button {
  padding-top: 60px;
}

body {
  padding-bottom: 70px;
}
